<!-- List of All Brackets Within the Tournament -->

<h1><%= link_to @bracket.tournament.title, @tournament %></h1>
<h2><%= link_to 'Bracket 1', bracket_path(@bracket) %></h2>
<% @activities.try(:each) do |activity| %>
	<%= activity.player.evetag %> <br>
<% end %>


