<div class="col-xs-12 col-sm-8 col-sm-offset-2 landing">
	<h1>Player List</h1>
	<ul>
		<% @players.each do |player| %>
			<li> <%= link_to player.evetag, profile_path %> <li>
		<% end %>
	</ul>
</div>