<h1>Player Stats</h1>
<div class="playerScore">
	<h1><%= @player.totalGames %></h1>
	<h2>Total Games</h2>
</div>
<div class="playerScore">
	<h1><%= @player.totalWins %></h1>
	<h2>Wins</h2>
</div>		
<div class="playerScore">
	<h1><%= @player.totalGames - @player.totalWins %></h1>
	<h2>Loses</h2>
</div>
