<% @matches.each do |match| %>
	<% @players = match.player_ids 
		 @players.each do |id|
		 	if id != @player.id
		 		@opponent = Player.find_by(id:id)
		 	end
		 end
  %>

	<% if match.matchDate.past? && match.winner.nil?%>
		<div id="declaration" style="border: 1px solid #91C63E; padding: 10px; margin-bottom: 20px">
			<p>You played in a match against <%= @opponent.evetag %>. Who won this game?</p>
			<%= link_to @player.evetag, player_win_match_path(match), method: :put %>
			<br>
			<%= link_to @opponent.evetag, opponent_win_match_path(match), method: :put %>
		</div>
	<% end %>
<% end %>