<div class="col-xs-12 col-sm-8 col-sm-offset-2 landing">
	<h1>Tournament.Title</h1>
	<h2>Tournament.description</h2>
	<h3>Tournament.date</h3>


	<button> Sign Up</button><br>
	<%= link_to 'Or Create an Account', '#' %>
</div>
