<div class="col-xs-12 col-sm-8 col-sm-offset-2 landing">
  <h1><%= @tournament.title %></h1>
  <h2><%= @tournament.description %></h2>
  <h3><%= @tournament.signUpDate %></h3>

  

	<button> Sign Up</button><br>
	<% if player_signed_in? %>
	<% else %>
	<%= link_to 'Or Create an Account', '#' %>
	<% end %>
</div>
